@import "../../variables";

.btn {
  border-radius: $border-radius-base;
}

.btn,
.btn-default {
  background-color: $gray-lighter;

  &:hover {
    background-color: darken($gray-lighter, 15%);
  }

  &,
  &:hover {
    border-color: transparent;
  }
}

.btn-primary {
  background-color: $brand-secondary;

  &:hover {
    background-color: darken($brand-secondary, 15%);
  }
}
