@import "../../variables";

.navbar {
  background-color: $brand-primary;
  border: 0;
  border-radius: 0;

  // Adds flexbox styles used in main NavBar
  .navbar-container {
    align-content: stretch;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

.navbar-header {
  align-self: stretch;
  flex: 0 1 auto;
  order: 0;
}

.navbar-brand {
  height: auto;
  padding: $baseline-grid * .75;

  > img {
    height: $baseline-grid * 2.5;
  }

  @media (min-width: $container-sm) {
    height: $navbar-height;
  }
}

.navbar-form {
  align-self: stretch;
  flex: 1 1 auto;
  order: 0;

  > .input-group {
    display: table;
    width: 100%;
  }

  .input-group-btn {
    width: 1% !important;
  }
}
