html,
body {
  font-size: $font-size-base; // sets rem size
}

body {
  background-color: $body-bg;
  color: $gray-dark;
  font-family: $font-family-base;
}

.main-container {
  padding-top: $navbar-height + $baseline-grid;
}

.content-box {
  background-color: $content-bg;
  border-radius: $border-radius-base;
  margin-bottom: $spacer-lg;
  padding: $baseline-grid;
}

// Navigation panel
.panel-navigation {
  left: 2rem;
  bottom: 2rem;
  width: 180px;
  opacity: .3;
  position: fixed;
  transition: opacity .6s ease-out;

  &:hover {
    opacity: 1;
  }
}
