// Sets baseline grid size
$baseline-grid:       16px;

// Overwrites bootstrap base variables
$font-family-base:   "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size-base:     $baseline-grid;
$font-size-md:       $font-size-base * .8125;
$font-size-lg:       $font-size-base * 1.5;
$font-size-xl:       $font-size-base * 2.875;

$brand-primary:       #FFE600;
$brand-secondary:     #3483FA;

$gray-dark:           #333;
$gray:                #666;
$gray-light:          #999;
$gray-lighter:        #eee;

$container-sm:        768px;
$container-md:        1068px;
$container-lg:        1200px;

$navbar-height:       $baseline-grid * 4;

$body-bg:             $gray-lighter;
$content-bg:          #FFF;

// Border radius
$border-radius-base:  $baseline-grid * .25;

// Spacers
$spacer-md:           $baseline-grid;
$spacer-lg:           $baseline-grid * 2;
