@import "../variables";

.item-view-description {
  color: $gray-light;
  padding: $spacer-lg;
}

.item-view-description-title {
  font-size: $font-size-base * 1.75;
  color: $gray-dark;
  margin-bottom: $spacer-lg;
}

.item-view-title {
  font-size: $font-size-lg;
  font-weight: 700;
  margin-bottom: $spacer-lg;
  margin-top: 0;
}

.item-view-value {
  font-size: $font-size-xl;
  margin-bottom: $spacer-lg;
  margin-top: 0;
}

.item-view-details {
  padding-bottom: $spacer-lg;
  padding-right: $spacer-lg;
  padding-top: $spacer-lg;

  > p {
    margin-bottom: $spacer-md;
  }
}
