@import "../../variables";

.breadcrumb {
  background-color: transparent;
  font-size: $font-size-md;
  margin-bottom: 0;
  padding: $spacer-md 0;

  > li {
    &.active {
      font-weight: 700;
    }

    + li::before {
      color: $gray;
      content: ">";
      font-weight: 500;
    }
  }

  &,
  a {
    color: $gray;
  }
}
