@import "../variables";

.list-item {
  & + & {
    border-top: 1px solid $gray-lighter;
    margin-top: $spacer-md;
    padding-left: $spacer-md;
    padding-right: $spacer-md;
    padding-top: $spacer-md;
  }

  .media-object {
    border-radius: $border-radius-base;
    padding-right: $spacer-md;
    width: 180px;
  }

  .media-body {
    font-size: $font-size-md;
    padding-bottom: $spacer-md;
    padding-top: $spacer-md;

    a {
      color: $gray-dark;
    }
  }
}

.list-item-value {
  margin-bottom: $spacer-md;
  margin-top: 0;
}
